<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Jake Shelley</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
</head>
<body>
    <div class="main">
        <div class="title">Hi, I'm Jake.<img class="profile" src="/images/profile.jpg" /></div>
        <p>I'm currently living in New York City working as a Product Manager at <b class="freewheel"><a target="_blank" href="http://freewheel.tv/">FreeWheel</a></b>.</p>

        <p>I write about what I'm learning on <b class="medium"><a target="_blank" href="https://medium.com/@JakeShelley3">Medium</a></b> and what I'm thinking on <b class="twitter"><a target="_blank" href="https://twitter.com/JakeShelley3">Twitter</a></b>. I like to code live on <b class="twitch"><a target="_blank" href="https://www.twitch.tv/jshell2">Twitch</a></b> and sometimes post that code to <b class="github"><a target="_blank" href="https://www.github.com/jakeshelley1">Github</a></b>.</p>
        
        <p>When I code, I mostly use Swift and Python, and more recently Javascript. Here are some of the projects I've worked on.</p>
        <div class="projects">
            <a target="_blank" href="https://itunes.apple.com/us/app/todo-lists-organize-your-life/id1329807333?mt=8"><img class="app" src="/images/todo.png"/><div>Todo Lists</div></a>
            <a target="_blank" href="https://itunes.apple.com/us/app/color-pop-the-game/id1202606108?mt=8"><img class="app" src="/images/colorpop.png"/><div>Color Pop</div></a>
            <a target="_blank" href="https://www.blockchainrundown.com"><img class="app" src="/images/brd.png"/><div>BRD</div></a>
            <a target="_blank" href="/radiou"><img class="app" src="/images/logo.png"/><div>RadioU</div></a>
            <a target="_blank" href="https://itunes.apple.com/us/app/block-ninjas/id956615108?mt=8"><img class="app" src="/images/blockninjas.png"/><div>BlockNinjas</div></a>
            <a target="_blank" href="https://itunes.apple.com/us/app/emit-track-your-carbon-emissions/id1182170211?mt=8"><img class="app" src="/images/emit.png"/><div>Emit</div></a>
            <a><img class="app dead" src="/images/talkboard.png"/><div>Talkboard ☠️</div></a>
            <a><img class="app dead" src="/images/soundcheck.png"/><div>Soundcheck ☠️</div></a>
        </div>
    </div>
</body>
</html>
