<!doctype html>
<html>
<head>
    <title>Jake Shelley</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous"> -->
</head>
<body>
    <div class="main">
        <div class="title">Hi, I'm Jake.<img class="profile" src="/images/profile.jpg" /></div>
        <p>I'm currently living in New York City working at <b class="ibm"><a target="_blank" href="https://medium.com/ibm-data-science-experience/introducing-streams-designer-81c6ee313dd1">IBM</a></b> as a Product Manager. You can follow me on <b class="twitter"><a target="_blank" href="https://twitter.com/JakeShelley3">Twitter</a></b>, check out my code on <b class="github"><a target="_blank" href="https://www.github.com/jakeshelley1">Github</a></b>, or see what I've been writing about on <b class="medium"><a target="_blank" href="https://medium.com/@JakeShelley3">Medium</a></b>. If you're lucky, you might catch me coding live on <b class="twitch"><a target="_blank" href="https://www.twitch.tv/jshell2">Twitch</a></b>.</p>
        
        <p>I've been building apps and websites for a while, usually with Swift, Python, and sometimes Javascript. Here are some of the projects I've worked on:</p>
        <div class="projects">
            <a target="_blank" href="https://itunes.apple.com/us/app/todo-lists-organize-your-life/id1329807333?mt=8"><img class="app" src="/images/todo.png"/><div>Todo Lists</div></a>
            <a target="_blank" href="https://itunes.apple.com/us/app/color-pop-the-game/id1202606108?mt=8"><img class="app" src="/images/colorpop.png"/><div>Color Pop</div></a>
            <a target="_blank" href="https://www.blockchainrundown.com"><img class="app" src="/images/brd.png"/><div>BRD</div></a>
            <a target="_blank" href="/radiou"><img class="app" src="/images/logo.png"/><div>RadioU</div></a>
            <a target="_blank" href="https://itunes.apple.com/us/app/block-ninjas/id956615108?mt=8"><img class="app" src="/images/blockninjas.png"/><div>BlockNinjas</div></a>
            <a target="_blank" href="https://itunes.apple.com/us/app/emit-track-your-carbon-emissions/id1182170211?mt=8"><img class="app" src="/images/emit.png"/><div>Emit</div></a>
            <a><img class="app dead" src="/images/talkboard.png"/><div>Talkboard ☠️</div></a>
            <a><img class="app dead" src="/images/soundcheck.png"/><div>Soundcheck ☠️</div></a>
        </div>
    </div>
    <!-- <div class="notification-container"></div> -->
    <!-- // <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script> -->
    <!-- // <script src="https://code.jquery.com/jquery-1.11.1.js"></script> -->
    <script>
    // $(function () {
    //     var socket = io();
    //     // socket.on('chat message', function(msg){
    //     // $('#messages').append($('<li>').text(msg));
    //     //     window.scrollTo(0, document.body.scrollHeight);
    //     // });
    // });
    </script>
</body>
</html>
