<!DOCTYPE html>
<html>

<head>
	<title>RadioU</title>
	<meta name="viewport" content="width=device-width"/>
	<meta name="keywords" content="radio, radiou, app, college radio, college, college radio app, music, radio app"/>
	<meta name="robots" content="index, nofollow"/>
	<meta name="description" content="Listen to college radio straight from your phone. Find out more..."/>
	<link rel="stylesheet" href="/stylesheets/radiou.css"/>
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,900" rel="stylesheet"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.
	css">
	<link rel="icon" href="/images/favicon.ico" type="image">
</head>
<body>
	<section class="hero">
		<div class="banner">
			<div class="banner-cover"></div>
			<div class="content">
				<div class="info">
					<img class="logo" src="/images/logo.png"/>
					<h3>RadioU</h3>
					<p>College radio</br>straight to your phone.</p>
					<p class="cta">Coming soon to iPhone and Android.</p>
					<div class="btn-container">
						<a target="blank" href="https://jake504.typeform.com/to/h8pAXn">
							<div class="btn">
								<i class="fa fa-apple"></i>
								<strong>GET ACCESS</strong><br/>to the iOS Beta
							</div>
						</a>
						<div class="btn android">
							<i class="fa fa-android"></i>
							<strong>COMING SOON</strong><br/>Android Beta
						</div>
					</div>
				</div>
				<img class="iphone" src="/images/iphone.png">
			</div>
		</div>
	</section>
	<section class="features">
		<div class="title">
			<h1>Join the community</h1>
			<div></div>
		</div>
		<div class="card-container first">
			<div class="card">
				<div class="icon">
					<i class="fa fa-globe" aria-hidden="true"></i>
				</div>
				<div class="card-content">
					<h4>Explore new stations while listening to the shows you love.</h4>
					<p>Explore college radio stations all across the nation. Browse the app while you listen to find your next favorite show!</p>
				</div>
			</div>
			<div class="card">
				<div class="icon">
					<i class="fa fa-paint-brush" aria-hidden="true"></i>
				</div>
				<div class="card-content">
					<h4>Interact with each show and station's unique page.</h4>
					<p>Every station and show has a unqiue page, customizable by their DJs and staff. Check out pictures, messages, and announcements, or just pop in to say hi.</p>
				</div>
			</div>
		</div>
		<div class="card-container second">
			<div class="card">
				<div class="icon">
					<i class="fa fa-comment" aria-hidden="true"></i>
				</div>
				<div class="card-content">
					<h4>Connect with DJs through in-app chat, phone, or social media.</h4>
					<p>Chat directly with your DJs from your favorite shows. Access all of their social media in one place.</p>
				</div>
			</div>
			<div class="card">
				<div class="icon">
					<i class="fa fa-heart" aria-hidden="true"></i>
				</div>
				<div class="card-content">
					<h4>Save your favorite shows you can easily access them later.</h4>
					<p>Save shows from any number of stations. RadioU willl send a notification when they start so you'll never miss another braodcast!</p>
				</div>
			</div>
		</div>
	</section>
</body>

</html>