body {
	height: 100%; 
	margin: 0;
	padding: 0;
	background-color: black;
	font-family: 'Nunito', sans-serif;
}

section {
	height: 745px;
}

section:nth-child(2) {
	background: #F3F3F3;
	height: auto;
	padding-bottom: 50px;
}

.banner {
	width: 100%;
	height: 300px;
	margin: 0 auto;
}

.banner-cover {
	background-color: #332034;
	top: 0;
	position: absolute;
	background: url("/images/cover.jpg") no-repeat center;
	background-size: cover;
	filter: blur(4px);
	width:100%;
	height: 100%;
	z-index: -1;
}

.banner .content {
	clear:both;
	margin: 40px auto 0;
	color: white;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 1px;
	font-size: 25px;
	text-align: center;
}

.banner .content .info {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	margin-top: 125px;
}

.banner .content .info p {
	line-height: 48px;
    font-size: 45px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    margin: 27px 0;
}

.banner .content .info .cta {
	font-size: 15px;
	font-style: italic;
}

.banner .content .info p:last-child {
	font-size: 18px;
	margin: 0 auto;

}

.banner .content .info h3 {
	font-size: 28px;
	font-weight: 400;
}

.logo {
	height: 80px;
	width: 80px;
	border-radius: 14px;
	margin-bottom:-20px;	
}

.iphone {
	height: 650px;
	display: inline-block;
	margin-top: 25px;
}

.btn {
	transition: background-color 400ms;
	background-color: #A4B0E5;
	display: inline-block;
	padding: 10px 20px 10px 8px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: -25px;
}

.btn .fa {
	position: relative;
    top: 0;
    left: 0;
    float:left;
    margin: 0 10px;
    font-size: 40px;
    line-height: 1;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.btn:hover {
	transition: background-color 400ms;
	background-color: #D89EE8;
}

.btn.android {
	margin-left: 20px;
	background-color: #989899;
	cursor: default;
}

.btn.android:hover {
	background-color: #989899;
}

.login {
	float:right;
	margin: 15px;
	font-size: 14px;
	text-decoration: underline;
	color: white;
	cursor: pointer;
}

.btn-container a {
	text-decoration: none;
	color: white;
}

.features {
	color: #515151;
}

.features .title {
	padding: 40px;
	text-align: center;
}

.features .title h1 {
	margin: 8px 0;
	font: 35px 'Nunito', sans-serif;
}

.features .title div {
	height:6px;
	border-radius: 5px;
	width: 90px;
	background: #D89EE8;
	margin:0 auto;
}

.card-container {
	text-align: center;
}

.card {
	transition: all 400ms;
	text-align: left;
	display: inline-table;
	margin: 20px;
	height: 145px;
	max-width: 390px;
	min-width: 300px;
	border: 1px transparent;
	border-radius: 5px;
	padding: 15px;
	background: white;
}

/*WILL HAVE TO SHRINK TEXT AND ICON WHEN BELOW 480PX*/

.card .icon {
	height: 145px;
	width: 40px;
	vertical-align: middle;
	float:left;
}

.card .icon i {
	position: relative;
	top: 12px;
	font-size: 25px;
}

.card-container.first .card:nth-child(1):hover { transition: all 400ms; color: #95EBEC; }
.card-container.first .card:nth-child(2):hover { transition: all 400ms; color: #A5B0E1; }
.card-container.second .card:nth-child(1):hover { transition: all 400ms; color: #CFA2E3; }
.card-container.second .card:nth-child(2):hover { transition: all 400ms; color: #F18DA7; }
.card-container .card:hover {
-webkit-box-shadow: 0px 6px 56px 2px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 6px 56px 2px rgba(0,0,0,0.15);
box-shadow: 0px 6px 56px 2px rgba(0,0,0,0.15);
}

.card h4 {
	vertical-align: middle;
	font-size: 17px;
	margin: 5px;
}

.card p {
	vertical-align: middle;
	margin: 5px;
	font-size: 16px;
}

@media (max-width: 875px) {
	.banner .content {
		margin: 0;
	}
	.banner .content .info {
		text-align: center;
		margin-top: 60px;
	}

	.iphone {
		display: none;
	}

	.btn {
		text-align: left;
	}

	.login {
		display: none;
	}

	.banner .content .info p {
		font-size: 37px;
	}
}

@media (max-width: 560px) {
	
	.btn {
		text-align: left;	
		display: block;
		width: 210px;
		margin: 0 auto;
	}

	.btn.android {
		width: 180px;
		margin: 15px auto;	
	}

	.btn-container {
		text-align: center;
	}
}